<div class="top-nav">
  <div class="logo"><img src="../../assets/logo.png" />PICASSO</div>
  <div>
    <i style="cursor: pointer" class="fa-regular fa-circle-question"></i>
  </div>
</div>

<div class="big-container">
  <div class="prompt-section">
    <div class="input">
      <i class="fa-solid fa-pencil"></i>
      <input
        placeholder="Enter your prompt"
        [(ngModel)]="prompt"
        name="prompt"
      />
    </div>
    <button class="generate" (click)="generateClick()">Generate Image</button>
  </div>
  <div class="bottom-section">
    <div class="tabs">
      <div
        class="tab"
        (click)="setMode('text')"
        [class.active]="mode === 'text'"
      >
        Text to Image Generator
      </div>
      <div
        class="tab"
        (click)="setMode('image')"
        [class.active]="mode === 'image'"
      >
        Image to Image Generator
      </div>
      <div
        class="tab last"
        (click)="setMode('inpaint')"
        [class.active]="mode === 'inpaint'"
      >
        Inpainting Diffusion
      </div>
    </div>
    <div class="image-advanced">
      <div class="image">
        <a
          class="download"
          *ngIf="images.length > 0"
          href="data:image/jpeg;base64,{{ images[0] }}"
          download="image.jpg"
        >
          <i class="fa-solid fa-download"></i>
        </a>
        <div
          class="loading-div"
          *ngIf="images.length === 0"
          [class.scale-up]="loading"
        >
          <img *ngIf="loading" class="circle" src="../../assets/circle.png" />
          <img src="../../assets/image.png" />
        </div>

        <img
          class="dwn"
          *ngFor="let image of images"
          src="data:image/jpeg;base64,{{ image }}"
        />
      </div>
      <div class="advanced">
        <div class="title" (click)="toggleAdvanced()">
          Advanced Options <i class="fa-solid fa-chevron-down"></i>
        </div>
        <div class="advanced-div">
          <form style="display: contents">
            <div class="one-adv">
              <div class="top">
                <div class="name">Images</div>
                <div class="range">1-99</div>
              </div>
              <div class="bottom">
                <div
                  class="minus"
                  (click)="minusImage()"
                  [class.disabled]="samples - 1 < min_images"
                >
                  <i class="fa-solid fa-minus"></i>
                </div>
                <input
                  type="number"
                  [(ngModel)]="samples"
                  name="samples"
                  min="1"
                  max="4"
                  (keyup)="changeSample($event)"
                />
                <div
                  class="minus"
                  (click)="plusImage()"
                  [class.disabled]="samples + 1 > max_images"
                >
                  <i class="fa-solid fa-plus"></i>
                </div>
              </div>
            </div>
            <div class="one-adv">
              <div class="top">
                <div class="name">Steps</div>
                <div class="range">1-500</div>
              </div>
              <div class="bottom">
                <div
                  class="minus"
                  [class.disabled]="steps - 1 < min_steps"
                  (click)="minusSteps()"
                >
                  <i class="fa-solid fa-minus"></i>
                </div>
                <input
                  type="number"
                  [(ngModel)]="steps"
                  name="steps"
                  min="1"
                  max="500"
                  (keyup)="changeSteps($event)"
                />
                <div
                  class="minus"
                  (click)="plusSteps()"
                  [class.disabled]="steps + 1 > max_steps"
                >
                  <i class="fa-solid fa-plus"></i>
                </div>
              </div>
            </div>
            <div class="one-adv">
              <div class="top">
                <div class="name">Guidance Scale</div>
                <div class="range">1-20</div>
              </div>
              <div class="bottom">
                <div
                  class="minus"
                  (click)="minusScale()"
                  [class.disabled]="scale - 0.01 < min_scale"
                >
                  <i class="fa-solid fa-minus"></i>
                </div>
                <input
                  type="number"
                  [(ngModel)]="scale"
                  name="scale"
                  min="1"
                  max="20"
                  step="0.01"
                  (keyup)="changeScale($event)"
                />
                <div
                  class="minus"
                  (click)="plusScale()"
                  [class.disabled]="scale + 0.01 > max_scale"
                >
                  <i class="fa-solid fa-plus"></i>
                </div>
              </div>
            </div>
            <div class="one-adv">
              <div class="top">
                <div class="name">Seed</div>
                <div class="range">1-2147483647</div>
              </div>
              <div class="bottom">
                <div
                  class="minus"
                  (click)="minusSeed()"
                  [class.disabled]="seed - 1 < min_seed"
                >
                  <i class="fa-solid fa-minus"></i>
                </div>
                <input
                  type="number"
                  [(ngModel)]="seed"
                  name="seed"
                  min="1"
                  max="2147483647"
                  step="1"
                  (keyup)="changeSeed($event)"
                />
                <div
                  class="minus"
                  (click)="plusSeed()"
                  [class.disabled]="seed + 1 > max_seed"
                >
                  <i class="fa-solid fa-plus"></i>
                </div>
              </div>
            </div>
            <div class="one-adv">
              <div class="top">
                <div class="name">Prompt Strength</div>
                <div class="range">0-20</div>
              </div>
              <div class="bottom">
                <div
                  class="minus"
                  (click)="minusStrength()"
                  [class.disabled]="strength - 0.01 < min_strength"
                >
                  <i class="fa-solid fa-minus"></i>
                </div>
                <input
                  type="number"
                  [(ngModel)]="strength"
                  name="strength"
                  min="0"
                  max="20"
                  step="0.01"
                  (keyup)="changeStrength($event)"
                />
                <div
                  class="minus"
                  (click)="plusStrength()"
                  [class.disabled]="samples + 0.01 > max_strength"
                >
                  <i class="fa-solid fa-plus"></i>
                </div>
              </div>
            </div>
            <div class="upload-image" (click)="clickUpload()">
              {{ init_image ? init_image.name : "Upload an initial image" }}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<input
  id="init-image"
  type="file"
  (change)="imageUpload($event)"
  style="visibility: hidden"
/>
